In [10]:
import pandas as pd
import os
import glob as gb
import numpy as np
import matplotlib.pyplot as mp
import plotly

In [9]:
os.getcwd()

'C:\\Users\\gabriel24036\\Downloads'

In [19]:
#Criando uma tabela para os dados de uma das cidades
with open("C:\\Users\\raquel24005\\OneDrive - ILUM ESCOLA DE CIÊNCIA\\ILUM\\Prática em Ciências de Dados\\Projeto Final\\INMET_CO_DF_A001_BRASILIA_01-01-2023_A_31-12-2023.CSV", 'r', encoding='utf-8', errors='ignore') as tabela: #encoding define o formato do arquivo, já errors é pra ignorar linhas vazias (sem nada)
    dados = pd.read_csv(tabela, decimal = ',', sep = ";", skiprows = 8) #skiprows -> Pula linhas (do cabeçalho)
dados.describe()

,"PRECIPITAO TOTAL, HORRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m),"TEMPERATURA DO AR - BULBO SECO, HORARIA (C)",TEMPERATURA DO PONTO DE ORVALHO (C),TEMPERATURA MXIMA NA HORA ANT. (AUT) (C),TEMPERATURA MNIMA NA HORA ANT. (AUT) (C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREO HORARIA (gr) ( (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
count,8755.000000,8755.000000,8747.000000,8747.000000,4673.000000,8755.000000,8755.000000,8747.000000,8747.000000,8747.000000,8747.000000,8747.000000,8747.000000,8755.000000,8748.000000,8747.000000,8750.000000,0.0
mean,0.113764,887.618949,887.873202,887.369430,1508.103702,21.955477,14.184500,22.735544,21.207454,14.816086,13.605751,68.326741,61.435692,64.857910,150.510974,4.790797,2.011657,NaN
std,1.015717,2.321049,2.294539,2.332279,1119.062719,4.126353,3.764191,4.191367,4.029440,3.720660,3.799911,19.268845,19.837790,19.702607,94.346841,2.172933,1.016982,NaN
min,0.000000,879.700000,880.100000,879.700000,0.000000,9.600000,-1.100000,10.700000,9.400000,0.000000,-1.400000,19.000000,16.000000,17.000000,1.000000,0.500000,0.100000,NaN
25%,0.000000,886.000000,886.300000,885.700000,419.400000,19.100000,11.200000,19.600000,18.500000,12.000000,10.700000,54.000000,46.000000,49.000000,87.000000,3.000000,1.200000,NaN
50%,0.000000,887.500000,887.800000,887.300000,1431.700000,21.500000,15.300000,22.300000,20.800000,16.000000,14.700000,70.000000,61.000000,66.000000,119.000000,4.600000,1.900000,NaN
75%,0.000000,889.200000,889.400000,888.900000,2496.400000,24.900000,17.300000,25.800000,24.000000,17.800000,16.700000,86.000000,79.000000,83.000000,200.000000,6.300000,2.700000,NaN
max,23.400000,895.800000,895.900000,895.600000,4083.900000,34.400000,21.500000,34.600000,33.000000,22.300000,21.300000,98.000000,98.000000,98.000000,360.000000,20.000000,7.700000,NaN

In [53]:
precipitacao_total = dados['PRECIPITAO TOTAL, HORRIO (mm)']

pressao_max = dados['PRESSO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)']
pressao_min = dados['PRESSO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)']
pressao_total = (pressao_max+pressao_min)/2

radiacao_global = dados['RADIACAO GLOBAL (Kj/m)']

temperatura_max = dados['TEMPERATURA MXIMA NA HORA ANT. (AUT) (C)']
temperatura_min = dados['TEMPERATURA MNIMA NA HORA ANT. (AUT) (C)']
temperatura_total = (temperatura_max+temperatura_min)/2

umidade_rel = dados['UMIDADE RELATIVA DO AR, HORARIA (%)']

vento = dados['VENTO, VELOCIDADE HORARIA (m/s)']

In [42]:
media_precipitacao = np.mean(precipitacao_total)
media_precipitacao

0.11376356367789836

In [41]:
media_pressao = np.mean(pressao_total)
media_pressao

887.6213158797302

In [45]:
media_radiacao = np.mean(radiacao_global)
media_radiacao

1508.1037021185534

In [48]:
media_temperatura = np.mean(temperatura_total)
media_temperatura

21.971498799588428

In [52]:
media_umidade = np.mean(umidade_rel)
media_umidade

64.85790976584809

In [56]:
media_vento = np.mean(vento)
media_vento

2.011657142857143

In [13]:
import pandas as pd

# Carregar os dados do CSV
data = pd.read_csv('Teste_Climograma.csv')
data

   Mês;Temperatura;Precipitação
0                      1;32;123
1                      2;31;213
2                      3;30;153
3                      4;30;223
4                      5;31;311
5                      6;34;164
6                      7;33;268
7                      8;31;234
8                      9;28;165
9                     10;24;209
10                    11;26;498
11                    12;29;398